/*change page CSS*/

.lichess_ground {
    justify-content: normal !important;
}

.areplay {
    height: 200px;
    flex: none !important;
}

.action_menu {
    height: 200px;
    flex: none !important;
}

/*traps-menu*/
.traps-menu {
    margin-top: 1em;
    padding: 1em;
    border: 1px double black;
}

.traps-menu .menu-item {
    display: flex;
    align-items: center;
}

.traps-menu .menu-item:hover {
    background-color: #D8EFFF;
}

.traps-menu .hover-icons {
    position: absolute;
    right: 0px;
    display: none;    
}

.icon-button {
    width: 1em;
    height: 1em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    float: right;
    margin-left: 3px;
}

.traps-menu .trap-list {
    position: relative;
}
    
.traps-menu .menu-item:hover .hover-icons {
    display: block;
}

.traps-menu .delete-button {
    width: 1em;
    height: 1em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.traps-menu .trap-list {
    height: 22em;
    overflow-y: scroll;
    overflow-x: hidden;
}
